<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>battle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,1910},{186,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,41}</string>
			</dict>
			<key>battle_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,232},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>bigChangeProp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1769,1},{157,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,159}</string>
			</dict>
			<key>blockBigShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1769,160},{142,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,149}</string>
			</dict>
			<key>blockBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1446,266},{138,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,141}</string>
			</dict>
			<key>blockShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,266},{128,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,135}</string>
			</dict>
			<key>bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,289},{83,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,116}</string>
			</dict>
			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1639},{535,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{535,130}</string>
			</dict>
			<key>chestTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1963},{537,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,68}</string>
			</dict>
			<key>choutiBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1771},{562,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,137}</string>
			</dict>
			<key>choutiLogo.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,444},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>choutiOpen.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,174},{56,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,71}</string>
			</dict>
			<key>circle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,223},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>circle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,442},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>clearPropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,436},{97,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,101}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,384},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>continueGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1910},{185,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,42}</string>
			</dict>
			<key>crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,106},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>crown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,118},{36,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,34}</string>
			</dict>
			<key>deletePropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,535},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>dibantouy.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,186},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>gameoverBtnBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1963},{525,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,79}</string>
			</dict>
			<key>gotoHome.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,1},{229,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,52}</string>
			</dict>
			<key>handle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,407},{90,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,132}</string>
			</dict>
			<key>LOGO.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,1954},{393,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,88}</string>
			</dict>
			<key>mianfeihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,1910},{185,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,42}</string>
			</dict>
			<key>mianfeilibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,1},{167,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,38}</string>
			</dict>
			<key>package_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>propBaseMap.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,396},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>propHandle.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1},{183,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,205}</string>
			</dict>
			<key>rank_board2.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,364},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>rankBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,1},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>rankBtnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,308},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>rankMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1139},{498,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,324}</string>
			</dict>
			<key>relieve.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,190},{137,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,42}</string>
			</dict>
			<key>resetGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1910},{185,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,42}</string>
			</dict>
			<key>restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,499},{92,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,106}</string>
			</dict>
			<key>resumeGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,232},{229,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,52}</string>
			</dict>
			<key>sbutton.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1},{433,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{433,106}</string>
			</dict>
			<key>shareBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,144},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>soundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,287},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>soundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,304},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>startBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,1136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>startGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,1},{286,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,52}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1},{103,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,48}</string>
			</dict>
			<key>hotSign.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,156},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>innerBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1773},{640,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,188}</string>
			</dict>
			<key>innerChainTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,1},{115,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,20}</string>
			</dict>
			<key>innerItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,406},{108,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,135}</string>
			</dict>
			<key>chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,1},{263,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,305}</string>
			</dict>
			<key>light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1139},{610,632}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{610,632}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>staticPlist.png</string>
			<key>realTextureFileName</key>
			<string>staticPlist.png</string>
			<key>size</key>
			<string>{2039,2043}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2039</integer>
			<key>height</key>
			<integer>2043</integer>
		</dict>
	</dict>
</plist>