<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>add.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1924},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>
			<key>battle.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,723},{255,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,63}</string>
			</dict>
			<key>battle_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1409},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>blockBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{627,626}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{627,626}</string>
			</dict>
			<key>blockShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,643},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>
			<key>bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1839},{83,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,116}</string>
			</dict>
			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,629},{476,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,124}</string>
			</dict>
			<key>chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1070},{263,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,305}</string>
			</dict>
			<key>chestTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1958},{537,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,68}</string>
			</dict>
			<key>circle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1335},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>circle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1554},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>clearPropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1930},{97,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,101}</string>
			</dict>
			<key>close.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1212},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>continueGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1107},{185,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,42}</string>
			</dict>
			<key>crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,1328},{82,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,56}</string>
			</dict>
			<key>crown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,2015},{44,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,32}</string>
			</dict>
			<key>deletePropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,1924},{97,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,85}</string>
			</dict>
			<key>finishRank.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1414},{126,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,92}</string>
			</dict>
			<key>finishScoreTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,980},{236,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,64}</string>
			</dict>
			<key>flyChest.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,1542},{107,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,110}</string>
			</dict>
			<key>getsba.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,1212},{106,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,42}</string>
			</dict>
			<key>gotoHome.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,493},{228,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,52}</string>
			</dict>
			<key>handle.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,1839},{89,126}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,132}</string>
			</dict>
			<key>hotSign.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,2015},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>innerBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,1},{640,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,188}</string>
			</dict>
			<key>innerChainTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,629},{115,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,20}</string>
			</dict>
			<key>innerItemBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1446},{108,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,135}</string>
			</dict>
			<key>LOGO.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1335},{504,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{504,83}</string>
			</dict>
			<key>mianfeihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1950},{258,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,63}</string>
			</dict>
			<key>pauseContinueGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,1841},{411,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,107}</string>
			</dict>
			<key>pauseMain.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1583},{126,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,92}</string>
			</dict>
			<key>pauseRestart.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,1651},{126,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,92}</string>
			</dict>
			<key>pauseSoundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1711},{126,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,92}</string>
			</dict>
			<key>pauseSoundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,1745},{126,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,92}</string>
			</dict>
			<key>pauseText.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1294},{113,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,62}</string>
			</dict>
			<key>propBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1},{640,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,144}</string>
			</dict>
			<key>propHandle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1773},{183,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,205}</string>
			</dict>
			<key>rank_board2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,629},{477,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{477,439}</string>
			</dict>
			<key>rankBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1190},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>rankBtnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1839},{126,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,92}</string>
			</dict>
			<key>relieve.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1218},{194,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,64}</string>
			</dict>
			<key>resetGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1107},{185,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,42}</string>
			</dict>
			<key>restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,792},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>resumeGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,262},{229,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,52}</string>
			</dict>
			<key>sbutton.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,1070},{433,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{433,106}</string>
			</dict>
			<key>share.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1320},{59,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,62}</string>
			</dict>
			<key>share_videw.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,1428},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>shareBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1318},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>shareFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1},{259,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{259,51}</string>
			</dict>
			<key>soundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,934},{126,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,127}</string>
			</dict>
			<key>soundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,1062},{126,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,127}</string>
			</dict>
			<key>startGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,1070},{256,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,62}</string>
			</dict>
			<key>tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,1107},{103,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,48}</string>
			</dict>
			<key>video.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1320},{106,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>staticPlist.png</string>
			<key>realTextureFileName</key>
			<string>staticPlist.png</string>
			<key>size</key>
			<string>{1023,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>