<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,916},{83,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,116}</string>
			</dict>
			<key>clearPropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,916},{97,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,101}</string>
			</dict>
			<key>color1_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,344},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,487},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,630},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,773},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_2048.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,344},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,185},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,487},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,630},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>color1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,773},{134,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,141}</string>
			</dict>
			<key>deletePropIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,916},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>eliminate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,328},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>
			<key>eliminate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,185},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>eliminate_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>getsba.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,182},{106,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,42}</string>
			</dict>
			<key>num_1024.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,144},{92,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,34}</string>
			</dict>
			<key>num_128.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,290},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,36}</string>
			</dict>
			<key>num_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,64},{59,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,44}</string>
			</dict>
			<key>num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,144},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,48}</string>
			</dict>
			<key>num_256.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,144},{74,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,36}</string>
			</dict>
			<key>num_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1},{61,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,44}</string>
			</dict>
			<key>num_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,144},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>
			<key>num_512.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,290},{73,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,36}</string>
			</dict>
			<key>num_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,244},{62,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,44}</string>
			</dict>
			<key>num_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,144},{34,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,49}</string>
			</dict>
			<key>share.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,182},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>share_video.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,180},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>video.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,182},{106,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dynamicPlist.png</string>
			<key>realTextureFileName</key>
			<string>dynamicPlist.png</string>
			<key>size</key>
			<string>{507,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>507</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>