<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chestTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1671},{167,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,61}</string>
			</dict>
			<key>cutLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1925},{591,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{591,6}</string>
			</dict>
			<key>rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1931},{43,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,57}</string>
			</dict>
			<key>rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1988},{43,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,57}</string>
			</dict>
			<key>rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,1931},{43,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,57}</string>
			</dict>
			<key>rankBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1136},{358,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,192}</string>
			</dict>
			<key>startBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,1136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>surpassBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1494},{177,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,89}</string>
			</dict>
			<key>surpassCircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1838},{76,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,87}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>openDataPlist.png</string>
			<key>realTextureFileName</key>
			<string>openDataPlist.png</string>
			<key>size</key>
			<string>{640,2045}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>2045</integer>
		</dict>
	</dict>
</plist>